<h1><%= @user.nickname %>さんの読んだ本一覧</h1>
<div class="book-lists">
  <% @books.each do |book| %>
    <div class="book-list">
      <%= link_to book_path(book) do %>
        <p>タイトル：<%= book.title %></p>
      <% end %>
      <p>編著者：<%= book.author %></p>
      <div class="book-post_lists">
        <% book.posts.order("created_at DESC").each do |post| %>
          <div><%= post.memo %></div>
          <% if post.page.present? %>
            <div><%= post.page %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>