<div class="main-content">
  <div class="post-form">
    <div class="post-form-text">読書メモを投稿する</div>
    <%= link_to new_book_path, class: "book-link" do %>
      <div class="book-btn">本を登録する</div>
    <% end %>
    <%= form_with model: @post, local: true do |f| %>
      <div class="post-field">
        <div class="post-text">
          本を選択してください
        </div>
        <select name="post[book_id]", class="post-pull-down">
          <% @user.books.all.each do |book| %>
            <option value=<%= book.id %>><%= book.title %></option>
          <% end %>
        </select>
      </div>
      <div class="post-field">
        <div class="post-text">
          読書メモ(300字まで)
        </div>
        <%= f.text_area :memo, placeholder:"読書メモ(300字まで)", class: "post-field-memo" %>
      </div>
      <div class="post-field">
        <div class="post-text">
          ページ数(任意)
        </div>
        <%= f.text_field :page, placeholder:"ページ数(任意)", class: "post-field-page" %>
      </div>
      <div class="post-field-check-box">
        <div class="post-text">
          ！ネタバレ防止で非表示にする！
        </div>
        <% f.label :hidden_check %>
        <%= f.check_box :hidden_check, class: "check-box" %>
      </div>
      <div class="post-form-under">
        <%= f.submit "編集する" ,class:"contribute-btn" %>
      </div>
    <% end %>
  </div>
</div>