<div class="main-content">
  <div class="post-lists">
    <% @posts.each do |post| %>
      <% if post.hidden_check %>
        <div class="post-hidden-list">
          <div class="post-upper">
            <div class="post-upper-title"><%= post.book.title %></div>
            <div class="post-upper-author"><%= post.book.author %></div>
          </div>
          <div class="post-hidden"><%= link_to "読書メモを表示する", post_path(post) %></div>
          <div class="post-hidden-nickname"><%= post.book.user.nickname %></div>
        </div>
      <% else %>
        <div class="post-list">
          <div class="post-upper">
            <div class="post-upper-title"><%= post.book.title %></div>
            <div class="post-upper-author"><%= post.book.author %></div>
          </div>
          <div class="post-memo"><%= link_to post.memo, post_path(post) %></div>
          <div class="post-under">
            <div id="like-btn<%= post.id %>", class="post-under-like">
              <% if user_signed_in? && post.liked_by?(current_user)%>
                <%=link_to "いいね済", post_likes_path(post.id),  method: :delete, class: "post-like" %>
              <% else %>
                <%=link_to "いいねする", post_likes_path(post.id), method: :post, class: "post-like" %>
              <% end %>
            </div>
            <% if post.page.present? %>
              <div class="post-under-page"><%= post.page %>ページ</div>
            <% end %>
            <div class="post-under-nickname"><%= post.book.user.nickname %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>