<h1>読書メモ投稿画面</h1>
<div><%= link_to '本を登録する', new_book_path %></div>
<%= form_with model: @post, local: true do |f| %>
  <div class="memo_field">
    <select name="post[book_id]">
      <option value="">本を選択してください</option>
      <% @user.books.all.each do |book| %>
        <option value=<%= book.id %>><%= book.title %></option>
      <% end %>
    </select>
    <div class="memo-text">
      読書メモ(300字まで)
    </div>
    <%= f.text_area :memo, placeholder:"読書メモ(300字まで)" %>
  </div>
  <div class="memo_field">
    <div class="memo-text">
      ページ数(任意)
    </div>
    <%= f.text_field :page, placeholder:"ページ数(任意)" %>
  </div>
  <div class="memo_field">
    <div class="memo-text">
      ネタバレ防止で非表示にする
    </div>
    <% f.label :hidden_check %>
    <%= f.check_box :hidden_check %>
  </div>
  <%= f.submit "投稿する" ,class:"contribute-btn" %>
<% end %>